@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Quicksand:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    color: white;
    background-color: #880254;
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    margin-left: 250px;
    margin-bottom: 23px;
    padding: 10px;
    font-size: 1em;
}

main {
    margin-left: 250px;
}

.form-prod {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.form-prod input {
    font-size: 1.5em;
    width: 800px;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    border-bottom: solid #880254;
    text-decoration: none;
    padding-bottom: 10px;
}

.form-prod input[type="submit"] {
    background-color: #3d3c3b;
    color: white;
    border: solid #3d3c3b;
    padding: 6px;
}

.form-prod input[type="submit"]:hover {
    background-color: #616161;
    color: white;
    border: solid #616161;  
    padding: 6px;
}

.footer-pai {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin-left: 250px;
}

footer {
    bottom: 0;
    background-color: #880254;
    color: #FFF;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
}